:root {
  --primary-color: #f3f0e7;
  --secondary-color: #080808;
  --blue-color: #69d2e7;
  --orange-color: #f38630;
}

.dark {
  --primary-color: #121212;
  --secondary-color: #f3f0e7;
  --blue-color: #7cc4d3;
  --orange-color: #c88b5a;
}

.dark img {
  -webkit-filter: brightness(0.8) contrast(1.2);
          filter: brightness(0.8) contrast(1.2);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  a {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    letter-spacing: 0.15rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

.border-black {
  border-right: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

@media (min-width: 1024px) and (orientation: landscape) {
  .border-black {
    border-right: 6px solid var(--secondary-color);
    border-left: 6px solid var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color);
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  border: 2px solid var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 40px;
  position: relative;
}

@media (min-width: 768px) {
  .btn {
    border: 3px solid var(--secondary-color);
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .btn {
    width: 180px;
  }
}

.btn::before {
  content: "";
  width: 140px;
  height: 40px;
  border: 3px solid var(--secondary-color);
  position: absolute;
  z-index: -1;
  left: -8px;
  bottom: -8px;
}

@media (min-width: 768px) {
  .btn::before {
    width: 160px;
    height: 50px;
    left: -10px;
    bottom: -10px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .btn::before {
    width: 180px;
    left: -10px;
    bottom: -10px;
  }
}

.fixed-name {
  position: fixed !important;
  top: 10vh;
  left: 0;
  border-left: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  z-index: 2;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .fixed-name {
    border-left: 6px solid var(--secondary-color);
    border-right: 6px solid var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color) !important;
  }
}

.absolute-name {
  position: absolute !important;
  left: 0;
  bottom: 0;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container .nav-header {
  width: 100%;
  height: 10vh;
  border-top: 3px solid var(--secondary-color);
  position: fixed;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--primary-color);
  overflow: hidden;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .nav-header {
    border-top: 6px solid var(--secondary-color);
  }
}

.container .nav-header .logo-div {
  height: 100%;
  width: 10vh;
  border-right: 3px solid var(--secondary-color);
  cursor: pointer;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .nav-header .logo-div {
    border-right: 6px solid var(--secondary-color);
  }
}

.container .nav-header .logo-div img {
  width: 100%;
  padding: 5px;
}

@media (min-width: 768px) {
  .container .nav-header .logo-div img {
    padding: 10px;
  }
}

.container .nav-header .burger-menu {
  height: 10vh;
  width: 10vh;
  padding: 1.8vh;
  position: absolute;
  top: 0;
  right: 11vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .nav-header .burger-menu {
    display: none;
  }
}

.container .nav-header .burger-menu .line1,
.container .nav-header .burger-menu .line2,
.container .nav-header .burger-menu .line3 {
  height: 2.1vh;
  background: var(--secondary-color);
}

.container .nav-header .burger-menu .line1 {
  width: 70%;
  margin-right: auto;
}

.container .nav-header .burger-menu .line2 {
  width: 100%;
  margin: 1.85vh 0;
}

.container .nav-header .burger-menu .line3 {
  width: 70%;
  margin-left: auto;
}

.container .nav-header .nav-links {
  padding: 1vh 0;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .nav-header .nav-links {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
}

.container .nav-header .nav-links li {
  margin: 1vh 0;
  position: relative;
}

.container .nav-header .nav-links li::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: var(--secondary-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.container .nav-header .nav-links li:hover::after {
  -webkit-transform: scale(1) translateX(-50%);
          transform: scale(1) translateX(-50%);
}

.container .nav-header .switcher {
  height: 100%;
  width: 10vh;
  border-left: 3px solid var(--secondary-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .nav-header .switcher {
    border-left: 6px solid var(--secondary-color);
  }
}

.container .nav-header .switcher i {
  color: var(--secondary-color);
  font-size: 5vh;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.container .nav-header .switcher:hover {
  background: var(--secondary-color);
}

.container .nav-header .switcher:hover i {
  color: var(--primary-color);
}

.container .show-menu {
  height: 35vh;
}

.home {
  height: 100vh;
  overflow: hidden;
  padding-top: 10vh;
}

.home article {
  height: 90vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home article .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .home article .content {
    padding: 2rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article .content {
    margin-left: 3vw;
  }
}

.home article .content .presentation {
  font-size: 1.2rem;
  line-height: 1.75;
}

.home article .content .presentation span {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .home article .content .presentation {
    font-size: 2rem;
    width: 80%;
  }
  .home article .content .presentation span {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article .content .presentation {
    max-width: 1000px;
  }
}

.home article .content .btn {
  background: var(--blue-color);
  margin-left: 8px;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .home article .content .btn {
    margin-top: 1rem;
  }
}

.home article .content .logo-home {
  position: absolute;
  bottom: 3%;
  right: 5%;
  width: 20vw;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article .content .logo-home {
    width: 15vw;
    bottom: -10%;
    right: 10%;
  }
}

.home article .content .logo-home img {
  height: 100%;
  width: 100%;
}

.home article .photo {
  height: 30vh;
  border-top: 3px solid var(--secondary-color);
  width: 100%;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article .photo {
    border-top: none;
    border-left: 6px solid var(--secondary-color);
    height: 90vh;
    width: 30%;
  }
}

.home article .photo img {
  height: 100%;
  border-right: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home article .photo img {
    border-right: none;
    border-left: none;
    border-top: 6px solid var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color);
    width: 100%;
    height: auto;
  }
}

.home aside {
  width: 10vh;
  height: 90vh;
  border-left: 3px solid var(--secondary-color);
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home aside {
    border-left: 6px solid var(--secondary-color);
  }
}

.home aside ul li {
  margin: 3vh 0;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home aside ul li {
    margin: 5vh 0;
  }
}

.home aside ul li i {
  color: var(--secondary-color);
  font-size: 5vh;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.home aside ul li:hover i {
  color: var(--blue-color);
}

.projects, .about, .contact {
  min-height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects, .about, .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projects article, .about article, .contact article {
  width: 100%;
}

.projects .name, .about .name, .contact .name {
  border-bottom: 3px solid var(--secondary-color);
  height: 25vh;
  background: var(--primary-color);
  z-index: 2;
}

@media (min-width: 768px) {
  .projects .name, .about .name, .contact .name {
    height: 35vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects .name, .about .name, .contact .name {
    height: 90vh;
    width: 50%;
    border-right: 6px solid var(--secondary-color);
    border-bottom: none;
  }
}

.projects .content, .about .content, .contact .content {
  padding: 0 1rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects .content, .about .content, .contact .content {
    width: 50%;
    padding-top: 5vh;
    margin-left: auto;
  }
}

.projects .content .single-project, .about .content .single-project, .contact .content .single-project {
  padding: 2vh 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .content .single-project .description, .about .content .single-project .description, .contact .content .single-project .description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .projects .content .single-project .description, .about .content .single-project .description, .contact .content .single-project .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 3vh 0;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects .content .single-project .description, .about .content .single-project .description, .contact .content .single-project .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects .content .single-project .description img, .about .content .single-project .description img, .contact .content .single-project .description img {
  width: 80%;
  margin: 3vh 0 5vh;
}

@media (min-width: 768px) {
  .projects .content .single-project .description img, .about .content .single-project .description img, .contact .content .single-project .description img {
    width: 40%;
    margin: 0;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects .content .single-project .description img, .about .content .single-project .description img, .contact .content .single-project .description img {
    width: 80%;
    margin: 3vh 0 5vh;
  }
}

.projects .content .single-project .description .details, .about .content .single-project .description .details, .contact .content .single-project .description .details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .projects .content .single-project .description .details, .about .content .single-project .description .details, .contact .content .single-project .description .details {
    width: 50%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .projects .content .single-project .description .details, .about .content .single-project .description .details, .contact .content .single-project .description .details {
    width: 80%;
  }
}

.projects .content .single-project .description .details .link-wrapper, .about .content .single-project .description .details .link-wrapper, .contact .content .single-project .description .details .link-wrapper {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3vh 0 7vh;
}

@media (min-width: 768px) {
  .projects .content .single-project .description .details .link-wrapper, .about .content .single-project .description .details .link-wrapper, .contact .content .single-project .description .details .link-wrapper {
    margin: 3vh 0;
  }
}

.projects .content .single-project .description .details .link-wrapper .live-view, .about .content .single-project .description .details .link-wrapper .live-view, .contact .content .single-project .description .details .link-wrapper .live-view {
  background: var(--blue-color);
}

.projects .content .single-project .description .details .link-wrapper .code, .about .content .single-project .description .details .link-wrapper .code, .contact .content .single-project .description .details .link-wrapper .code {
  background: var(--orange-color);
}

.about .name {
  position: relative;
}

.about .name h1 {
  margin-right: 20vw;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about .name h1 {
    margin-right: 0;
  }
}

.about .name .portrait {
  position: absolute;
  bottom: -20%;
  left: 60%;
  z-index: 4;
  width: 30vw;
  height: calc(width * 1.4375);
  border: 3px solid var(--secondary-color);
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about .name .portrait {
    border: 6px solid var(--secondary-color);
    width: 20vw;
    bottom: 50%;
    left: 100%;
    -webkit-transform: translate(-60%, 50%);
            transform: translate(-60%, 50%);
  }
}

.about .name .portrait img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .about .content {
    padding: 3vh 6vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about .content {
    padding: 0 10vw;
  }
}

.about .content h3 {
  margin-top: 2vh;
}

@media (min-width: 768px) {
  .about .content h3 {
    margin: 4vh 0 2vh;
  }
}

.about .content h3:first-child {
  padding-top: 4vh;
}

@media (min-width: 768px) {
  .about .content h3:first-child {
    padding-top: 0;
  }
}

.about .content p:last-child {
  margin-bottom: 4vh;
}

.contact .content {
  padding: 6vh 1rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .contact .content {
    padding: 0 10vw;
  }
}

@media (min-width: 768px) {
  .contact .content {
    max-width: 50%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .contact .content form {
    max-width: 80%;
  }
}

.contact .content form .form-group {
  position: relative;
  padding: 2vh 0;
}

.contact .content form .form-label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--secondary-color);
}

.contact .content form .form-input,
.contact .content form .form-textarea {
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contact .content form .form-input::-webkit-input-placeholder,
.contact .content form .form-textarea::-webkit-input-placeholder {
  color: transparent;
}

.contact .content form .form-input:-ms-input-placeholder,
.contact .content form .form-textarea:-ms-input-placeholder {
  color: transparent;
}

.contact .content form .form-input::-ms-input-placeholder,
.contact .content form .form-textarea::-ms-input-placeholder {
  color: transparent;
}

.contact .content form .form-input::placeholder,
.contact .content form .form-textarea::placeholder {
  color: transparent;
}

.contact .content form .form-input:placeholder-shown ~ .form-label,
.contact .content form .form-textarea:placeholder-shown ~ .form-label {
  cursor: text;
  top: 2vh;
}

.contact .content form .form-input {
  border-bottom: 2px solid var(--secondary-color);
}

.contact .content form .form-input:focus ~ .form-label,
.contact .content form .form-textarea:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.contact .content form .form-input:focus {
  padding-bottom: 6px;
  border-width: 3px;
}

.contact .content form .form-input:required, .contact .content form .form-input:invalid,
.contact .content form .form-textarea:required,
.contact .content form .form-textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .content form .btn-send {
  margin: 0 2vh;
  font-family: inherit;
  background: var(--orange-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.footer {
  width: 100%;
  padding: 7vw 4vh;
  position: relative;
}

@media (min-width: 768px) {
  .footer {
    padding: 3vw 4vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .footer {
    padding: 3vw 10vw;
  }
}

.footer .nav-footer ul {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .nav-footer ul li {
  display: block;
  width: 50%;
  margin: 2vh 0;
}

.footer .nav-footer ul li:nth-child(even) a {
  float: right;
}

.footer .logo-footer {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30vw;
  max-width: 200px;
}

@media (min-width: 768px) {
  .footer .logo-footer {
    width: 20vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .footer .logo-footer {
    width: 12vw;
    top: 35%;
  }
}

.footer .logo-footer img {
  width: 100%;
  height: 100%;
}

.footer .social-icons {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 4vh;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .footer .social-icons {
    width: 50%;
  }
}

.footer .social-icons a > i {
  font-size: 2rem;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .footer .social-icons a > i {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */