$light-color: #f3f0e7;
$dark-color: #080808;
$blue-color: #69d2e7;
$orange-color: #f38630;
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Playfair Display", serif;
$thin-border: 5px solid $dark-color;
$thick-border: 8px solid $dark-color;

//Mixins
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

// General settings
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  background: $light-color;
  color: var(--clr-grey-1);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $dark-color;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: $secondary-font;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  a {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    letter-spacing: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

//General Classes
.border-black {
  border-right: $thin-border;
  border-left: $thin-border;
  border-bottom: $thin-border;
  @include tablet {
    border-right: $thick-border;
    border-left: $thick-border;
    border-bottom: $thick-border;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 3px solid $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  position: relative;
  @include tablet {
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  @include desktop {
    width: 180px;
    font-size: 1.5rem;
  }
}
.btn::before {
  content: "";
  width: 140px;
  height: 40px;
  border: 3px solid $dark-color;
  position: absolute;
  z-index: -1;
  left: -8px;
  bottom: -8px;
  @include tablet {
    width: 160px;
    height: 50px;
    left: -10px;
    bottom: -10px;
  }
  @include desktop {
    width: 180px;
    left: -10px;
    bottom: -10px;
  }
}
.fixed-name {
  position: fixed !important;
  top: 10vh;
  left: 0;
  border-left: $thin-border;
  border-right: $thin-border;
  z-index: 2;
  @include tablet {
    border-left: $thick-border;
    border-right: $thick-border;
  }
  @include desktop {
    border-bottom: $thick-border !important;
  }
}
.absolute-name {
  position: absolute !important;
  left: 0;
  bottom: 0;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-top-auto {
  margin-top: auto;
}

//COntainer and Header
.container {
  width: 100%;
  min-height: 100vh;
  .nav-header {
    width: 100%;
    height: 10vh;
    border-top: $thin-border;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    background: $light-color;
    @include tablet {
      border-top: $thick-border;
    }
    .logo-div {
      height: 100%;
      width: 10vh;
      border-right: $thin-border;
      @include tablet {
        border-right: $thick-border;
      }
      img {
        width: 100%;
        padding: 5px;
        @include tablet {
          padding: 10px;
        }
      }
    }
    .burger-menu {
      height: 10vh;
      width: 10vh;
      padding: 1.8vh;
      margin-left: auto;
      flex-direction: column;
      @include desktop {
        display: none;
      }
      .line1,
      .line2,
      .line3 {
        height: 2.1vh;
        background: $dark-color;
      }
      .line1 {
        width: 70%;
        margin-right: auto;
      }
      .line2 {
        width: 100%;
        margin: 1.85vh 0;
      }
      .line3 {
        width: 70%;
        margin-left: auto;
      }
    }
    .nav-links {
      display: none;
      @include desktop {
        display: flex;
        justify-content: space-around;
        width: 50%;
      }
    }
    .switcher {
      height: 100%;
      width: 10vh;
      border-left: $thin-border;
      @include tablet {
        border-left: $thick-border;
      }
      i {
        color: $dark-color;
        font-size: 5vh;
      }
    }
  }
}

//Home
.home {
  height: 100vh;
  overflow: hidden;
  padding-top: 10vh;
  article {
    height: 90vh;
    flex: 1;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    .content {
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;
      position: relative;
      @include tablet {
        padding: 2rem;
      }
      @include desktop {
        margin-left: 3vw;
      }
      .presentation {
        font-size: 1.2rem;
        line-height: 1.75;
        span {
          font-size: 1.75rem;
        }
        @include tablet {
          font-size: 2rem;
          width: 80%;
          span {
            font-size: 3rem;
          }
        }
        @include desktop {
          max-width: 1000px;
        }
      }

      .btn {
        background: $blue-color;
        margin-left: 8px;
        margin-top: 0.5rem;
        @include tablet {
          margin-top: 1rem;
        }
      }
      .logo-home {
        position: absolute;
        bottom: 3%;
        right: 5%;
        width: 20vw;
        @include desktop {
          width: 15vw;
          bottom: -10%;
          right: 10%;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .photo {
      height: 30vh;
      border-top: $thin-border;
      @include tablet {
        border-top: $thick-border;
      }
      @include desktop {
        border-top: none;
        border-left: $thick-border;
        height: 90vh;
        width: 30%;
      }
      width: 100%;
      img {
        height: 100%;
        border-right: $thin-border;
        border-left: $thin-border;
        @include tablet {
          border-right: $thick-border;
          border-left: $thick-border;
        }
        @include desktop {
          border-right: none;
          border-left: none;
          border-top: $thick-border;
          border-bottom: $thick-border;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  aside {
    width: 10vh;
    height: 90vh;
    border-left: $thin-border;
    @include tablet {
      border-left: $thick-border;
    }
    ul {
      li {
        margin: 3vh 0;
        i {
          color: $dark-color;
          font-size: 5vh;
        }
      }
    }
  }
}

//Projects
.projects {
  min-height: 90vh;
  flex-direction: column;
  position: relative;
  @include desktop {
    flex-direction: row;
  }
  article {
    width: 100%;
  }
  .name {
    border-bottom: $thin-border;
    height: 25vh;
    background: $light-color;
    z-index: 2;
    @include tablet {
      border-bottom: $thick-border;
      height: 35vh;
    }
    @include desktop {
      height: 90vh;
      width: 50%;
      border-right: $thick-border;
      border-bottom: none;
    }
  }
  .content {
    padding: 0 1rem;
    @include desktop {
      width: 50%;
      padding-top: 5vh;
      margin-left: auto;
    }
    .single-project {
      padding: 2vh 0;
      flex-direction: column;
      .description {
        flex-direction: column;
        @include tablet {
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
          margin: 3vh 0;
        }
        @include desktop {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        img {
          width: 80%;
          margin: 3vh 0 5vh;
          @include tablet {
            width: 40%;
            margin: 0;
          }
          @include desktop {
            width: 80%;
            margin: 3vh 0 5vh;
          }
        }
        .details {
          flex-direction: column;
          @include tablet {
            width: 50%;
          }
          @include desktop {
            width: 80%;
          }

          .link-wrapper {
            width: 100%;
            justify-content: space-around;
            margin: 3vh 0 7vh;
            @include tablet {
              margin: 3vh 0;
            }
            .live-view {
              background: $blue-color;
            }
            .code {
              background: $orange-color;
            }
          }
        }
      }
    }
  }
}

//about
.about {
  @extend .projects;
  .name {
    position: relative;
    h1 {
      margin-right: 20vw;
      @include desktop {
        margin-right: 0;
      }
    }
    .portrait {
      position: absolute;
      bottom: -20%;
      left: 60%;
      z-index: 4;
      width: 30vw;
      height: calc(#{width} * 1.4375);
      border: $thin-border;
      @include tablet {
        border: $thick-border;
      }
      @include desktop {
        width: 20vw;
        bottom: 50%;
        left: 100%;
        transform: translate(-60%, 50%);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    @include tablet {
      padding: 3vh 6vw;
    }
    @include desktop {
      padding: 0 10vw;
    }
    h3 {
      margin-top: 2vh;
      @include tablet {
        margin: 4vh 0 2vh;
      }
    }
    h3:first-child {
      padding-top: 4vh;
      @include tablet {
        padding-top: 0;
      }
    }
    p:last-child {
      margin-bottom: 4vh;
    }
  }
}

//contact
.contact {
  @extend .projects;
  .content {
    padding: 6vh 1rem;
    @include desktop {
      padding: 0 10vw;
    }
    @include tablet {
      max-width: 50%;
    }
    form {
      @include desktop {
        max-width: 80%;
      }
      .form-group {
        position: relative;
        padding: 2vh 0;
      }
      .form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        color: $dark-color;
      }
      .form-input,
      .form-textarea {
        font-family: inherit;
        font-size: 1.2rem;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          color: transparent;
        }
        &:placeholder-shown ~ .form-label {
          cursor: text;
          top: 2vh;
        }
      }
      .form-input {
        border-bottom: 2px solid $dark-color;
      }

      .form-input:focus,
      .form-textarea:focus {
        ~ .form-label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $dark-color;
          font-weight: 700;
        }
      }
      .form-input:focus {
        padding-bottom: 6px;
        border-width: 3px;
      }
      .form-input,
      .form-textarea {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
      .btn-send {
        margin: 0 2vh;
        font-family: inherit;
        background: $orange-color;
        cursor: pointer;
      }
    }
  }
}

//footer
.footer {
  width: 100%;
  padding: 7vw 4vh;
  position: relative;
  @include tablet {
    padding: 3vw 4vh;
  }
  @include desktop {
    padding: 3vw 10vw;
  }
  .nav-footer {
    ul {
      width: 100%;
      flex-wrap: wrap;
      li {
        display: block;
        width: 50%;
        margin: 2vh 0;
        &:nth-child(even) a {
          float: right;
        }
      }
    }
  }
  .logo-footer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    @include tablet {
      width: 20vw;
    }
    @include desktop {
      width: 12vw;
      top: 35%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .social-icons {
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 3vh;
    @include desktop {
      width: 50%;
    }
    a > i {
      font-size: 2rem;
      margin-left: 5px;
      @include tablet {
        font-size: 2.5rem;
      }
    }
  }
}
