// initial colors
:root {
  --primary-color: #fdfdfd;
  --secondary-color: #121212;
  --blue-color: #69d2e7;
  --orange-color: #f38630;
}

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Playfair Display", serif;
$thin-border: 3px solid var(--secondary-color);
$thick-border: 6px solid var(--secondary-color);

//dark theme
.dark {
  --primary-color: #121212;
  --secondary-color: #f3f0e7;
  --blue-color: #5496a3;
  --orange-color: #c07a41;
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
//Mixins
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

// General settings
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}
body {
  font-family: $primary-font;
  background: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: $secondary-font;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  a {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    letter-spacing: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

//General Classes
.border-black {
  border-right: $thin-border;
  border-left: $thin-border;
  border-bottom: $thin-border;
  @include desktop {
    border-right: $thick-border;
    border-left: $thick-border;
    border-bottom: $thick-border;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  position: relative;
  @include tablet {
    border: 3px solid var(--secondary-color);
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  @include desktop {
    width: 180px;
  }
}
.btn::before {
  content: "";
  width: 140px;
  height: 40px;
  border: 3px solid var(--secondary-color);
  position: absolute;
  z-index: -1;
  left: -8px;
  bottom: -8px;
  @include tablet {
    width: 160px;
    height: 50px;
    left: -10px;
    bottom: -10px;
  }
  @include desktop {
    width: 180px;
    left: -10px;
    bottom: -10px;
  }
}
.fixed-name {
  position: fixed !important;
  top: 10vh;
  left: 0;
  border-left: $thin-border;
  border-right: $thin-border;
  z-index: 2;
  @include desktop {
    border-left: $thick-border;
    border-right: $thick-border;
    border-bottom: $thick-border !important;
  }
}
.absolute-name {
  position: absolute !important;
  left: 0;
  bottom: 0;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-top-auto {
  margin-top: auto;
}

//COntainer and Header
.container {
  width: 100%;
  min-height: 100vh;
  .nav-header {
    width: 100%;
    height: 10vh;
    border-top: $thin-border;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    background: var(--primary-color);
    overflow: hidden;
    transition: height 0.3s ease-out;
    @include desktop {
      border-top: $thick-border;
    }
    .logo-div {
      height: 100%;
      width: 10vh;
      border-right: $thin-border;
      cursor: pointer;
      @include desktop {
        border-right: $thick-border;
      }
      a {
        margin-bottom: auto;
      }
      img {
        width: 100%;
        padding: 5px;
        @include tablet {
          padding: 10px;
        }
      }
    }
    .burger-menu {
      height: 8vh;
      width: 12vw;
      padding: 1vh 0;
      margin: auto 0;
      position: absolute;
      top: 0.3vh;
      right: 12vh;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      @include desktop {
        display: none;
      }
      .line1,
      .line2,
      .line3 {
        height: 0.7vh;
        width: 12vw;
        background: var(--secondary-color);
        transition: 0.2s linear;
      }
      .line1,
      .line3 {
        width: 9vw;
      }
      .line2 {
        width: 12vw;
      }
    }
    .close-menu {
      margin-left: -2vw;
      .line1 {
        width: 12vw;
        transform: translateY(2.65vh) rotateZ(45deg);
      }
      .line2 {
        transform: scale(0);
      }
      .line3 {
        width: 12vw;
        transform: translateY(-2.65vh) rotateZ(-45deg);
      }
    }
    .nav-links {
      padding: 1vh 0;
      position: absolute;
      top: 8vh;
      left: 0;
      width: 100%;
      flex-direction: column;
      @include desktop {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
      }
      li {
        margin: 1vh 0;
        position: relative;
        &:not(:last-child):after {
          content: "";
          position: absolute;
          bottom: -15%;
          left: 50%;
          transform: translateX(-50%);
          width: 80%;
          height: 2px;
          background: var(--secondary-color);
          transform: scale(0);
          transition: transform 0.3s ease-out;
        }
        &:hover::after {
          transform: scale(1) translateX(-50%);
        }
        &:last-child {
          background: var(--secondary-color);
          padding: 0 10px;
          border: 3px solid var(--secondary-color);
          transition: all 0.3s ease-out;
          a {
            color: var(--primary-color);
          }
          &:hover {
            background: var(--primary-color);
            a {
              color: var(--secondary-color);
            }
          }
        }
      }
    }

    .switcher {
      height: 100%;
      width: 10vh;
      border-left: $thin-border;
      transition: all 0.3s ease-out;
      @include desktop {
        border-left: $thick-border;
      }
      button {
        background: transparent;
        border: none;
        width: 100%;
        height: 9vh;
        cursor: pointer;
        i {
          color: var(--secondary-color);
          font-size: 5vh;
          transition: all 0.3s ease-out;
        }
        &:hover {
          background: var(--secondary-color);
          i {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .show-menu {
    height: 40vh;
  }
}

//Home
.home {
  height: 100vh;
  overflow: hidden;
  padding-top: 10vh;
  article {
    height: 90vh;
    flex: 1;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    .content {
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;
      position: relative;
      @include tablet {
        padding: 2rem;
      }
      @include desktop {
        margin-left: 3vw;
      }
      .presentation {
        font-size: 1.2rem;
        line-height: 1.75;
        //animation typewriting
        .cursor {
          display: inline-block;
          width: 2px;
          background-color: var(--secondary-color);
          margin-left: 0.1rem;
          animation: blink 0.5s step-end infinite alternate;
        }
        @keyframes blink {
          50% {
            background-color: transparent;
          }
        }
        .cursor-fade {
          opacity: 0;
        }
        .myName {
          font-size: 1.75rem;
        }

        //animation text presentation
        .text-presentation {
          display: inline-block;
          opacity: 0;
          animation: fade-in 1s 1.6s ease forwards;
        }
        @keyframes fade-in {
          100% {
            opacity: 1;
          }
        }
        @include tablet {
          font-size: 2rem;
          width: 80%;
          .myName {
            font-size: 3rem;
          }
        }
        @include desktop {
          max-width: 1000px;
        }
      }

      .btn {
        background: var(--blue-color);
        margin-left: 8px;
        margin-top: 0.5rem;
        @include tablet {
          margin-top: 1rem;
        }
      }
      .logo-home {
        position: absolute;
        bottom: 3%;
        right: 5%;
        width: 20vw;
        @include desktop {
          width: 15vw;
          bottom: -10%;
          right: 10%;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .photo {
      height: 30vh;
      border-top: $thin-border;
      @include desktop {
        border-top: none;
        border-left: $thick-border;
        height: 90vh;
        width: 30%;
      }
      width: 100%;
      img {
        height: 100%;
        border-right: $thin-border;
        border-left: $thin-border;
        @include desktop {
          border-right: none;
          border-left: none;
          border-top: $thick-border;
          border-bottom: $thick-border;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  aside {
    width: 10vh;
    height: 90vh;
    border-left: $thin-border;
    @include desktop {
      border-left: $thick-border;
    }
    ul {
      li {
        margin: 3vh 0;
        @include desktop {
          margin: 5vh 0;
        }
        i {
          color: var(--secondary-color);
          font-size: 5vh;
          transition: color 0.3s ease-out;
        }
        &:hover {
          i {
            color: var(--blue-color);
          }
        }
      }
    }
  }
}

//Projects
.projects {
  min-height: 90vh;
  flex-direction: column;
  position: relative;
  @include desktop {
    flex-direction: row;
  }
  article {
    width: 100%;
  }
  .name {
    border-bottom: $thin-border;
    height: 25vh;
    background: var(--primary-color);
    z-index: 2;
    @include tablet {
      height: 35vh;
    }
    @include desktop {
      height: 90vh;
      width: 50%;
      border-right: $thick-border;
      border-bottom: none;
    }
  }
  .content {
    padding: 0 1rem;
    @include desktop {
      width: 50%;
      padding-top: 5vh;
      margin-left: auto;
    }
    .single-project {
      padding: 2vh 0;
      flex-direction: column;
      .description {
        flex-direction: column;
        @include tablet {
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
          margin: 3vh 0;
        }
        @include desktop {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        img {
          width: 80%;
          margin: 3vh 0 5vh;
          @include tablet {
            width: 40%;
            margin: 0;
          }
          @include desktop {
            width: 80%;
            margin: 3vh 0 5vh;
          }
        }
        .details {
          flex-direction: column;
          @include tablet {
            width: 50%;
          }
          @include desktop {
            width: 80%;
          }

          .link-wrapper {
            width: 100%;
            justify-content: space-around;
            margin: 3vh 0 7vh;
            @include tablet {
              margin: 3vh 0;
            }
            .live-view {
              background: var(--blue-color);
            }
            .code {
              background: var(--orange-color);
            }
          }
        }
      }
    }
  }
}

//about
.about {
  @extend .projects;
  .name {
    position: relative;
    @include desktop {
      min-height: 90vh;
    }
    h1 {
      margin-right: 20vw;
      @include desktop {
        margin-right: 0;
      }
    }
    .portrait {
      position: absolute;
      bottom: -20%;
      left: 60%;
      z-index: 4;
      width: 30vw;
      height: calc(#{width} * 1.4375);
      border: $thin-border;
      @include desktop {
        border: $thick-border;
        width: 20vw;
        bottom: 50%;
        left: 100%;
        transform: translate(-60%, 50%);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    @include tablet {
      padding: 3vh 6vw;
    }
    @include desktop {
      padding: 0 10vw;
    }
    h3 {
      margin-top: 2vh;
      @include tablet {
        margin: 4vh 0 2vh;
      }
    }
    h3:first-child {
      padding-top: 4vh;
      @include tablet {
        padding-top: 0;
      }
    }
    p:last-child {
      margin-bottom: 4vh;
    }
  }
}

//contact
.contact {
  @extend .projects;
  .content {
    padding: 6vh 1rem;
    @include desktop {
      padding: 0 10vw;
    }
    @include tablet {
      max-width: 50%;
    }
    form {
      @include desktop {
        max-width: 80%;
      }
      .form-group {
        position: relative;
        padding: 2vh 0;
      }
      .form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        color: var(--secondary-color);
      }
      .form-input,
      .form-textarea {
        font-family: inherit;
        font-size: 1.2rem;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          color: transparent;
        }
        &:placeholder-shown ~ .form-label {
          cursor: text;
          top: 2vh;
        }
      }
      .form-input {
        border-bottom: 2px solid var(--secondary-color);
      }

      .form-input:focus,
      .form-textarea:focus {
        ~ .form-label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: var(--secondary-color);
          font-weight: 700;
        }
      }
      .form-input:focus {
        padding-bottom: 6px;
        border-width: 3px;
      }
      .form-input,
      .form-textarea {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
      #status {
        padding-bottom: 3vh;
      }
      .btn-send {
        margin: 0 2vh;
        font-family: inherit;
        background: var(--orange-color);
        color: var(--secondary-color);
        cursor: pointer;
      }
    }
  }
}

//footer
.footer {
  width: 100%;
  padding: 7vw 4vh;
  position: relative;
  @include tablet {
    padding: 3vw 4vh;
  }
  @include desktop {
    padding: 3vw 10vw;
  }
  .nav-footer {
    ul {
      width: 100%;
      flex-wrap: wrap;
      li {
        display: block;
        width: 50%;
        margin: 2vh 0;
        &:nth-child(even) a {
          float: right;
        }
      }
    }
  }
  .logo-footer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 200px;
    @include tablet {
      width: 20vw;
    }
    @include desktop {
      width: 12vw;
      top: 35%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .social-icons {
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 4vh;
    @include desktop {
      width: 50%;
    }
    a > i {
      font-size: 2rem;
      margin-left: 5px;
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--blue-color);
      }
      @include tablet {
        font-size: 2.5rem;
      }
    }
  }
}
